body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #464343f6;
}

.container {
    display: flex;
    flex-direction: row; /* Kontainer akan memanjang secara horizontal */
    justify-content: center; /* Posisi horizontal ke tengah */
    align-items: center; /* Posisi vertikal ke tengah */
    background-color: #f7f4f4de; /* Warna latar belakang kontainer */
    border-radius: 10px; /* Sudut melingkar untuk kontainer */
    box-shadow: 0 10px 20px rgba(233, 10, 10, 0.5); /* Efek bayangan untuk kontainer */
    padding: 20px; /* Padding untuk memberikan ruang di sekitar konten */
    width: 50%; /* Lebar kontainer */
    max-width: 1000px; /* Lebar maksimum kontainer */
}


.image-container img {
    width: 95%; /* Lebar gambar mengisi seluruh lebar kontainer */
    height: 100%; /* Tinggi gambar mengisi seluruh tinggi kontainer */
    object-fit: cover; /* Memastikan gambar mengisi seluruh ruang tanpa merubah proporsi */
    border-radius: 10px; /* Sudut melingkar untuk gambar */
}

#loginForm {
    background-color: #ffb3b3; /* Warna latar belakang form login */
    border-radius: 10px; /* Sudut melingkar untuk form login */
    padding: 20px; /* Padding untuk memberikan ruang di dalam form */
    width: 75%; /* Lebar form login */
    height: 100%;
    align-items: flex-start; /* Posisi vertikal ke tengah */
    text-align: center; /* Posisi teks di tengah pada form login */
    margin-left: auto; /* Memberikan jarak ke sisi kanan kontainer */
    margin-right: 20px; /* Memberikan jarak antara gambar dan formulir login */
    height: 100%; /* Tinggi formulir login mengisi seluruh tinggi kontainer */
    align-self: stretch; /* Memastikan formulir login meregang sesuai tinggi gambar */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Efek bayangan untuk formulir login */
}




#loginForm h2 {
    font-size: 24px;
    color: #5b39d4;
    margin-bottom: 10px;
}

#loginForm label {
    display: block;
    margin-bottom: 10px;
    color: #1512e6;
}

#loginForm input {
    width: calc(100% - 22px); /* Perhatikan margin, padding, dan border */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#loginForm button {
    width: 100px; /* Lebar tombol login */
    padding: 10px;
    background-color: #e63185;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#loginForm button:hover {
    background-color: #d2266e;
}
